@import '../../../../../variables';

.sec-organisation-users {
  $maxPadding: 8px;

  .user-image-cell {
    $imageSize: 40px;

    padding-bottom: $maxPadding;
    padding-top: $maxPadding;
    width: $imageSize;
  }

  .user-role-selector-cell {
    width: 200px;
  }

  .user-role-selector {
    display: flex;
    align-items: center;

    .selecotr-wrapper {
      flex: 1;
    }
  }

  .add-user-button-wrapper {
    margin-top: 25px;
    text-align: center;
  }
}

.sec-add-user {
  .field {
    margin-bottom: 20px;
  }
}

.sec-same-user-role {
  font-size: 12px;

  .popconfirm-content {
    padding: 15px 10px;
  }
}
