$mainColor: #003a61;
$mainColor_light: #94c5e6;
$mainColor_extralight: #eff8ff;

$borderColor: #ccc;

$errorBackgroundColor: #ffe6e6;
$errorTextColor: #ad0000;

$buttonColor: #5a9b41;
$buttonHoverColor: #518a3a;

$transition: cubic-bezier(0, 0, 0.2, 1) 0ms;
